body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 62, 62);
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.rps-game-btn{
    width: 150px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.rps-btn-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  
    
}
.rps-btn-img:hover{
    scale: 1.1;
    transition: 0.5s;  
}
.rps-btn-img:active{
    scale: 0.96;
}

.show-result-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: transparent;

}
.show-result-btn{
    background-color: green;
    padding: 8px 12px;
    color: white;
    border: none;
    cursor: pointer;
}
.js-textbox{
    padding: 7px 10px;
}
.js-show-result{
    font-size: 25px;
}
.rps-game-container{
    background-color: rgb(63, 62, 62);
    display: flex;
    flex: 1;
    max-width: 700px;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    
}
.rps-game-container p{
    color: white;
    font-size: 25px;
}
.reset-and-autoplay-container{
    display: flex;
    gap: 5px;
    padding: 20px;
}
.reset-btn,.auto-play{ 
    padding: 10px 10px;
    max-width: 350px;
    flex: 1;
    border-radius: 10px;
    height: 40px;
    border: none;
    color: white;
    font-size: 16px;
    background-color: rgb(104, 104, 104);
    cursor: pointer;
}
.reset-btn:hover, 
.auto-play:hover{
    background-color: rgb(134, 134, 134);
}
.reset-btn:active, 
.auto-play:active{
    background-color: rgb(106, 106, 106);
    scale: 0.95;
    transition: 0.1s;
}

.yes-or-no{
    
    display: none;
}
.yes-or-no-show{
    margin-top: 15px;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.yes-or-no-show p{
    margin: 4px 0px;
}
.Y-button,.N-button{
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    flex: 1;
    max-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Y-button{
    background-color: green;
    color: white;
    font-weight: bold;
}
.N-button{
    background-color: red;
    color: white;
    font-weight: bold;
}
.Y-button:hover{
    background-color: rgb(7, 164, 7);
}
.N-button:hover{
    background-color: rgb(251, 71, 71);
}
.Y-button:active,
.N-button:active{
    scale: 0.95;
    transition: 0.1s;
}